---
import { getCollection } from 'astro:content';

import { Box, Stack } from '#astro-custom-layout-components/index.js';
import Card from '#components/Card/index.astro';
import Layout from '#layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
  const publishsedPosts = await getCollection('blogCollection');

  const uniqueTags = [
    ...new Set(publishsedPosts.map(({ data }) => data.tags ?? []).flat()),
  ];

  return uniqueTags.map((tag) => ({
    params: { tag: tag },
    props: {
      postsWithThisTag: publishsedPosts.filter(({ data }) =>
        data.tags.includes(tag),
      ),
    },
  }));
}

const { tag } = Astro.params;
const { postsWithThisTag } = Astro.props;
---

<Layout title={tag}>
  <!-- {
    postsWithThisTag.map(({ id, data }) => (
      <BlogCard
        backgroundColor="var(--surface-4)"
        foregroundColor="var(--text-2)"
        id={id}
        postData={data}
      />
    ))
  } -->

  <Stack space="var(--s1)">
    <Box><h2>#{tag}</h2></Box>
    {postsWithThisTag.map(({ id }) => <Card slug={id} />)}
  </Stack>
</Layout>
