---
// import Author from '@cc/Author.astro'
import { Image } from 'astro:assets';
import type { z } from 'astro:content';
import { type CollectionEntry,getEntry  } from 'astro:content';

import {
  Box,
  Center,
  Frame,
  Stack,
} from '#astro-custom-layout-components/index.js';
import Author from '#components/Author/index.astro';
import FormattedDate from '#components/FormattedDate.astro';
import Layout from '#layouts/Layout.astro';
import { blogSchema } from '#schemas/index.ts';

// interface Props {
//   data: BlogSchemaType;
//   children: AstroComponentFactory;
// }

const { data } = Astro.props as CollectionEntry<'blogCollection'>;

const { title, description, pubDate, cover, author: authorRef } = data;

---

<Layout title={title} description="Lorem ipsum dolor sit amet">
  <Center>
    <Stack space="var(--s00)">
      <Frame ratio="16:9">
        <Image
          src={cover.src}
          width="1200"
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
          height="300"
          alt={cover.alt}
        /></Frame
      >
      <Box invert> <p>{description}</p></Box>

      <Box invert><FormattedDate date={pubDate} /></Box>

      <Box invert><h3>{title}</h3></Box>
      <Box invert>
        <details>
          <summary>About the author</summary>
          <p>    {authorRef && <Author authorReference={authorRef} />}</p>
        </details>
      </Box>

      <Box invert><slot /></Box>
    </Stack>
  </Center>
</Layout>
