---
// import type { CollectionEntry } from 'astro:content'
// import { getEntry } from 'astro:content'
import { Box, Center } from '@cc/index.ts'

import type { BlogSchemaType } from '../schemas'
import FormattedDate from '@components/FormattedDate.astro'
// import Author from '@components/Author.astro'
import Layout from '@layouts/SimpleLayout.astro'

type Props = {
  data: BlogSchemaType
}

const { data } = Astro.props

const { title, description, pubDate, cover } = data
---

<Layout title="blog post" description="Lorem ipsum dolor sit amet">
  <Center>
    <div class="stack">
      <Box> <h2>{description}</h2></Box>
      <!-- {author && <Author {...author} />} -->
      <Box>
        <div class="hero-image box">
          <img width={1020} height={510} src={cover.url} alt={cover.url} />
        </div>
        <div class="prose box">
          <div class="box">
            <div class="date box">
              <FormattedDate date={pubDate} />
            </div>
            <div class="box"><h3>{title}</h3></div>
            <hr />
          </div>

          <slot />
        </div>
      </Box>
    </div>
  </Center>
</Layout>

<style>
  .hero-image img {
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .prose {
    color: rgb(var(--gray-dark));
  }

  .date {
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
