---
import { getEntry } from 'astro:content';
import { Box, Stack, Center } from '#astro-custom-layout-components/index.js';
import { Image } from 'astro:assets';

import type { BlogSchemaType } from '#schemas/index.ts';

import FormattedDate from '#components/FormattedDate.astro';
// import Author from '@cc/Author.astro'
import Layout from '#layouts/Layout.astro';
import type { AstroComponentFactory } from 'astro/runtime/server/render/astro/index.js';

interface Props {
  blogData: BlogSchemaType;
  children: AstroComponentFactory;
}
const { blogData } = Astro.props;

const { title, description, pubDate, cover, author } = blogData;

const results = await getEntry('authors', author.id);
const { name } = results.data;
---

<Layout title="blog post" description="Lorem ipsum dolor sit amet">
  <Center>
    <Stack>
      <Image
        src={cover.src}
        width="1200"
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
        height="300"
        alt={cover.alt}
      />
      <Box invert> <p>{description}</p></Box>

      <FormattedDate date={pubDate} />

      <Box invert><h3>{title}</h3></Box>
      <Box invert><hh2>written by {name}</hh2></Box>
      <hr />

      <slot />
    </Stack>
  </Center>
</Layout>
