---
// import type { CollectionEntry } from 'astro:content'
// import { getEntry } from 'astro:content'
import { Box, Stack, Center } from '@cc/index.ts'
import { Image } from 'astro:assets'

import FormattedDate from '@components/FormattedDate.astro'
// import Author from '@components/Author.astro'
import Layout from '@layouts/LayoutWcover.astro'
import type { BlogSchemaType } from '../schemas'

type Props = {
  data: BlogSchemaType
  children: unknown
}

const { data } = Astro.props

const { title, description, pubDate, cover } = data
---

<Layout title="blog post" description="Lorem ipsum dolor sit amet">
  <Center>
    <Stack>
      <Image
        src={cover.src}
        width="1200"
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
        height="300"
        alt={cover.description}
      />
      <Box invert> <p>{description}</p></Box>
      <!-- {author && <Author {...author} />} -->

      <FormattedDate date={pubDate} />

      <Box invert><h3>{title}</h3></Box>
      <hr />

      <slot />
    </Stack>
  </Center>
</Layout>
