---
// import Author from '@cc/Author.astro'

import { Image } from 'astro:assets';
import { type CollectionEntry, getEntry } from 'astro:content';

import {
  Box,
  Center,
  Frame,
  Stack,
} from '#astro-custom-layout-components/index.ts';
import FormattedDate from '#components/FormattedDate.astro';
import Layout from '#layouts/Layout.astro';

// interface Props {
//   data: BlogSchemaType;
//   children: AstroComponentFactory;
// }
interface Props {
  blogData: CollectionEntry<'blog'>['data'];
  id: string;
}

const { blogData } = Astro.props;

const { title, description, pubDate, cover, author } = blogData;

const results = await getEntry('authors', author.id);
const { name } = results.data;
---

<Layout title="blog post" description="Lorem ipsum dolor sit amet">
  <Center>
    <Stack space="var(--s00)">
      <Frame ratio="16:9">
        <Image
          src={cover.src}
          width="1200"
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
          height="300"
          alt={cover.alt}
        /></Frame
      >
      <Box invert> <p>{description}</p></Box>

      <Box invert><FormattedDate date={pubDate} /></Box>

      <Box invert><h3>{title}</h3></Box>
      <Box invert>
        <details>
          <summary>About the author</summary>
          <h2>written by {name}</h2>
        </details>
      </Box>

      <Box invert><slot /></Box>
    </Stack>
  </Center>
</Layout>
