---
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import { Cover, Center } from '@cc/index.ts'

type Props = {
  title?: string
  description?: string
  darkBool?: boolean
}

const {
  title = 'I NEED A TITLE',
  description = 'no description provided',
  darkBool = true,
  // pubDate, updatedDate, heroImage
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="canonical" href={canonicalURL} />
    <ViewTransitions />
  </head>

  <body color-scheme="light" class="appContainer">
    <Cover centeredElement="center-l" noPad={true} space="0">
      <Header invertMe={darkBool} />

      <Center>
        <slot />
      </Center>
      <Footer invertMe={darkBool} />
    </Cover>
    <style is:global>
      @import '@styles/GlobalStyles.css';
    </style>
  </body>
</html>
