---
import BaseHead from '#components/BaseHead.astro';
import Header from '#components/Header.astro';
import Footer from '#components/Footer.astro';
import { Cover, Center } from '#astro-custom-layout-components/index.js';
import type { RmUnitType } from '#astro-custom-layout-components/Types.js';

interface Props {
  title?: string;
  description?: string;
  centerWidth?: RmUnitType;
  children: unknown;
}

const {
  centerWidth = 'var(--measure)',
  title = 'I NEED A TITLE',
  description = 'no description provided',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" transition:animate="none" color-scheme="dark">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body>
    <Cover centeredElement="center-l" noPad={true} space="0">
      <Header />

      <Center max={centerWidth}>
        <slot />
      </Center>
      <Footer />
    </Cover>
  </body>
</html>
