---
import GlobalStyle from '@styles/GlobalStyles.css'

import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import { Cover } from '@cc/index.ts'

type Props = {
  title?: string
  description?: string
  darkBool?: boolean
}

const {
  title = 'I NEED A TITLE',
  description = 'no description provided',
  darkBool = false,
  // pubDate, updatedDate, heroImage
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="canonical" href={canonicalURL} />
    <ViewTransitions />
    <GlobalStyle />
  </head>

  <body color-scheme="light" class="appContainer">
    <!-- <Box borderWidth="0" padding="0"> -->
    <Cover centeredElement="main" noPad={true} space="0">
      <Header invertMe={darkBool} />
      <main>
        <slot />
      </main>
      <!-- <div class="box invert"> -->
      <Footer invertMe={darkBool} />
      <!-- </div> -->
    </Cover>
    <!-- </Box> -->
  </body>
</html>
