---
import { ViewTransitions } from 'astro:transitions'
import GlobalStyle from '@styles/GlobalStyles.astro'
import BaseHead from '../components/BaseHead.astro'
import Cover from '@cc/Cover/index.astro'

import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import * as ModLayout from '@cc/index.ts'

type Props = {
    title?: string
    description?: string
}

const {
    title = 'I NEED A TITLE',
    description = 'no description provided',
    // pubDate, updatedDate, heroImage
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

function capitalizeWords(str: string) {
    return str
        .split(' ')
        .map(
            (word) =>
                word.charAt(0).toUpperCase() + word.slice(1).toLowerCase(),
        )
        .join(' ')
}
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <link rel="canonical" href={canonicalURL} />
        <ViewTransitions />
        <GlobalStyle />
    </head>

    <body color-scheme="light">
        <ModLayout.Box borderWidth="0" padding="0">
            <Cover centeredElement="main" noPad={true} space="0">
                <Header />
                <main class="box">
                    <!-- <h2>{capitalizeWords(title)}</h2> -->

                    <slot />
                </main>
                <Footer />
            </Cover>
        </ModLayout.Box>
    </body>
</html>
